/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Rose&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

body{
    
    background: rgb(15,191,255);
    background: linear-gradient(184deg, rgba(15,191,255,1) 26%, rgba(255,255,255,1) 100%);  
}
#header{
    color: white;
    font-family: 'Dancing Script', cursive;
   
}
#logo{
    width: 1.5em;
}
#w-data{
    background: rgb(15,191,255);
    /* background: linear-gradient(356deg, rgba(15,191,255,1) 35%, rgba(255,255,255,1) 100%);  */
}
#temp{
    font-family: 'Red Rose', cursive;
    font-size: 5em;
}
#cname{
    margin-right: -5em;
    margin-top: -1em;
    font-family: 'Baloo Da 2', cursive;
    
}
#ws{
    font-family: 'Ubuntu', sans-serif;
}

#humid{
    font-family: 'Ubuntu', sans-serif;
}
#desc{
    font-family: 'Ubuntu', sans-serif;
}
#card{
    border-radius: 10px;
}
